@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

@font-face {
	font-family: 'Brittany';
	src: url('../assets/fonts/BrittanySignature.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*, body{
    font-family: 'Montserrat', sans-serif;
		margin: 0;
		padding: 0;
}
a{
	text-decoration:none;
	color: inherit;
}
.title{
	font-family: 'Brittany';
	font-size: 4.5rem;
}
.subtitle{
	font-weight: 600;
	background-image: url('../img/tribal.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-size: 2.3rem;
	padding: 0.5rem;
	text-align: center;
}
.text-justify{
	text-align: justify;
}
header{
    position: fixed;
		z-index: 100;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background 0.3s;
    width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.3rem 1rem;
}

header.white{
    background-color: rgba(255, 255, 255, 0.891);
}

header .logo{
    width: 9rem;
}

header .redes span{
	font-size: .9rem;
	margin-right: 0.3rem;
}

header .redes .icon{
	height: 1.5rem;
}

header.white .logo{
	width: 6rem;
}

header.white .redes span{
 font-size: .8rem;
}

header.white .redes .icon{
	height: 1.3rem;

}
header .option-menu{
	padding: 0;
	display: flex;
}
header .option-menu *{
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
header .option-menu li{
	display: inline-block;
  list-style: outside none none;
  margin: 0 2em;
  padding: 0;
}
header .option-menu a{
	display: inline-block;
  padding: 0.3rem .7rem;
  position: relative;
  text-decoration: none;
	color: #2b578e;
	font-weight: 600;
}
.prop{
	color: #2b578e;
	font-weight: 600;
	cursor: pointer;
}

header .option-menu a::before{
	left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid #2b578e;
  border-right: 12px solid #2b578e;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

header .option-menu a:hover, 
header .option-menu .active a{
	color: black;
}

header .option-menu a:hover:before,
header .option-menu .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}

header .dropdown .dropdown-item:hover{
	background: none !important;
}

.seccion .text li{
	counter-increment: my-counter;
	list-style: none;
	display: flex;
	align-items: start;
}

.seccion .text li::before {
	content: counter(my-counter); /* Utiliza el contador para el contenido del número */
	background-color: #2b578e; /* Fondo del número */
	color: white; /* Color del número */
	font-size: 1.3rem; /* Tamaño de fuente del número */
	font-family: 'Brittany'; /* Fuente del número */
	padding: .5rem 1rem;
	text-align: center;
	margin-right: 1rem;
}

.entire-title span{
	font-size: 2rem;
}

.menu{
	padding: 0;
}

.menu li{
	list-style: none;
	padding: 0.5rem;
}

.menu li a{
	text-decoration: none;
	color: inherit;
	transition: all ease-in-out .5s;
}

.menu li a:hover{
	color: #2b578e;
	font-weight: 600;
}
.menu li a img{
	margin-right: 0.5rem;
}

.volver{
	text-decoration: none;
	color: #4c4c4c;
}
.volver img{
	width: 1.1rem;
}

.nota{
	font-size: .8rem;
}
.bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.pr{
	background-image: url('../img/background/bg1.png');
}
.btn-g{
	color: white;
	background-color: #2b578e;
	font-weight: 600;
	padding: 0.5rem 0.8rem;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 1.3rem;
}
.info-cv li{
	list-style: none;
}
.info-cv li .note{
	font-size: .9rem;
	color: #2b578e;
	font-weight: 500;
}
.info-cv li .fecha{
	font-family: 'Brittany';
	font-size: 1.3rem;
	color: white;
	background-color: #2b588ee4;
	padding: 0.3rem 0.5rem;
}
.info-cv li .fecha_sub{
	font-family: 'Brittany';
	font-size: 1.6rem;
	font-weight: 600;
	color: #2b578e;
}
.logros li{
	list-style: none;
	color: white;
}
.logros li .note{
	font-size: .9rem;
	color: white;
	font-weight: 500;
}
.logros li .fecha{
	font-family: 'Brittany';
	font-size: 1.3rem;
	color: white;
	background-color: #061846;
	padding: 0.3rem 0.5rem;
}
.logros li .fecha_sub{
	font-family: 'Brittany';
	font-size: 1.6rem;
	font-weight: 600;
	color: #2b578e;
}
.publicaciones li{
	list-style: none;
}
.publicaciones li p{
	color:#061846;
}
.experiencia-perfil{
	background-color: #2b588eca;
	padding: 0.5rem;
	color: white;
}
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body {
	background: #000;
	color: #000;
}

.swiper {
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 80%;
	width: 100%;
}

.mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.calendar ol{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
}
.calendar ol li{
	text-align: right;
	padding: 0.3rem;
	position: relative;
}
.calendar ol .day{
	text-align: center;
	background-color: #2b578e;
	color: white;
	font-weight: 600;
}
.calendar ol .first-day{
	grid-column-start: 4;
}
.star{
	position: absolute;
	top: 5px;
	left: 5px;
	height: 15px;
}
.day-e{
	background-color: rgba(43, 88, 142, 0.594);
	color: white;
}
.day-csu{
	background-color: rgba(6, 24, 70, 0.7);
	color: white;
}
.sel{
	border-bottom: 2px solid rgb(6, 24, 70);
}
.festivo{
	background-color: rgba(60, 179, 114, 0.622);
	color: white;
}
.fechas-imp li{
list-style: none;
padding: 0.3rem;
border-left: 3px solid #061846;
}
.fechas-imp li strong{
	display: block;
	color: #061846;
	font-weight: 900;
}
.fechas-imp li .note{
	color: #061846;
	font-weight: 900;
}
footer{
	background-color: #2b578e;
	color: white;
	font-size: .7rem;
	text-align: center;
}
footer span{
	letter-spacing: 0.8rem;
	font-size: 1rem;
	display: block;
}

@media (max-width: 768px) {
	header {
		position: fixed;
	}
	header .logo{
		width: 7.5rem;
	}
	header .bar-menu{
		height: 2.5rem;
	}
	.sidemenu{
		width: 0;
		opacity: 0.5;
		overflow-x: hidden;
    transition: 0.7s;
    z-index: 100;
		background-color: white;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.sidemenu.open{
		width: 100%;
		opacity: 1;
	}
	.sidemenu .logo{
		width: 8rem;
		margin:0 auto;
	}
	.sidemenu .options{
		padding: 0;
		margin-top: 2rem;
	}
	.sidemenu ul li{
		list-style: none;
		font-size: 1rem;
		margin: 1rem 0;
	}
	.sidemenu a{
		text-decoration: none;
	}
	.sidemenu .redes{
		position: absolute;
		bottom: 4rem;
	}
	.sidemenu .btn-close{
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	.title{
		font-size: 3rem;
	}
	.subtitle{
		font-size: 1.3rem;
	}
	.entire-title span{
		font-size: 1.6rem;
	}
	footer span{
		letter-spacing: 0.5rem;
	}

}